<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css"/>
        <link rel = "preconnect" href = "https://fonts.gstatic.com">
        <link href = "https://fonts.googleapis.com/css2? family = Roboto & display = swap" rel = "hoja de estilo ">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://kit.fontawesome.com/6b8c6e67a4.js" crossorigin="anonymous"></script>

        <title>Mercado Liebre</title>

    </head>

    <body>
       <header class="main-header">
           <div class="main-header-bar">
                <img src="../img/logo-mercado-liebre.svg" class="logo"></img>        
                    <nav>
                        <div>
                            <form class="search-form">
                                <input placeholder="Buscar productos, marcas" type="text" name="keywords" class="search">                            
                                <button type="submit" class="fas fa-search" class="search-buttom"></button>
                            </form>
                        </div>
                    </nav>           
                        
                    <div>
                        <p class="textocentrado"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tárjetas de crédito</p>
                    </div>
            </div>
            <nav class="main-navbar">
               <ul class="left-navbar">
                    <li><a href="#"></a>Ofertas</li>
                    <li><a href="#"></a>Tiendas Oficiales</li>
                    <li><a href="#"></a>Vender</li>
                    <li><a href="#"></a>Ayuda</li>                    
                </ul>            
                <ul class="right-navbar">
                    <li><a href="register.html">Creá tú cuenta<i class="far fa-id-card" id="card"></i></a></li>
                    <li><a href="login.html">Ingresá<i class="fas fa-sign-in-alt" id="sign"></i></a></li>
                    <li><a href="#">Mis compras<i class="fas fa-shopping-basket" id="shopping"></i></a></li>              
                </ul>
            </nav>
            <a href="#" class="burguer">
                <i class="fas fa-bars burguer2"></i>
            </a>                                       
        </header>       
            <main class="listas">                
                    <div>
                        <img src="../img/img-home-banner.jpg" class="banner">
                        <p class="visita">Basado en tu última visita</p>                                
                    </div>
                <div class="container-flex">
                    <div class="productos">                        
                        <img src="/img/img-cafetera-moulinex.jpg" class="mediana">
                        <br>
                        <div class="contenidoDesc">                  
                            <i class="fas fa-truck iconoCamion"></i>
                            <div class="box">
                                <ul>
                                    <li>$24.600</li>
                                    <li class="otroEstilo"><span>20% off</span></li>
                                </ul>
                            </div>                    
                                <p id="descriptionOut">Cafetera Molino</p>
                            </br>
                        </div>                         
                    </div>
                        <br>
                    <div class="productos">                        
                        <img src="/img/img-macbook-pro-2019.jpg" class="mediana">
                        <br>
                        <div class="contenidoDesc">
                            <i class="fas fa-truck iconoCamion"></i>
                            <ul>
                                <li>$290.600</li>
                                <li class="otroEstilo">20% off</li>
                            </ul>
                            <p id="descriptionOut">Mac Book 2019</p>
                            </br>
                         </div>                            
                    </div>
                    <div class="productos">                        
                        <img src="/img/img-samsung-galaxy-s10.jpg" class="mediana">
                        <br>
                        <div class="contenidoDesc">
                            <i class="fas fa-truck iconoCamion"></i>
                            <ul>
                                <li>$45.600</li>
                                <li class="otroEstilo">10% off</li>
                            </ul>
                            <p id="descriptionOut">Samsung Galaxy S10</p>
                            </br>
                        </div>                          
                    </div>
                        </br>
                    <div class="productos">                                                             
                        <img src="/img/img-tv-samsung-smart.jpg" class="mediana">
                        <br>
                        <div class="contenidoDesc">
                            <i class="fas fa-truck iconoCamion"></i>
                            <ul>
                                <li>$390.600</li>
                                <li class="otroEstilo">10% off</li>
                            </ul>
                                <p id="descriptionOut">Samsung Smart TV</p>
                            </br>
                        </div>                            
                    </div>
                </div>
                    </br>           
                <div>
                    <p class="ofertas">Sección de Ofertas</p>
                </div>
                    <br>
                    <div class="container-flex">
                        <div class="productos">
                            <img src="/img/img-samsung-galaxy-s10.jpg" class="mediana">
                            <br>
                            <div class="contenidoDesc">
                                <i class="fas fa-truck iconoCamion"></i>
                                <ul>
                                    <li>$45.600</li>
                                    <li class="otroEstilo">10% off</li>
                                </ul>
                                <p id="descriptionOut">Samsung Galaxy S10</p>
                                </br>
                            </div>                             
                        </div>
                        </br>

                        <div class="productos">                                      
                            <img src="/img/img-tv-samsung-smart.jpg" class="mediana">
                            <br>
                            <div class="contenidoDesc">
                                <i class="fas fa-truck iconoCamion"></i>
                                <ul>
                                    <li>$390.600</li>
                                    <li class="otroEstilo">10% off</li>
                                </ul>
                                <p id="descriptionOut">Samsung Smart TV</p>
                                </br>  
                            </div>                         
                        </div>
                        <div class="productos">
                            <img src="/img/img-samsung-galaxy-s10.jpg" class="mediana">
                            <br>
                            <div class="contenidoDesc">
                                <i class="fas fa-truck iconoCamion"></i>
                                <ul>
                                    <li>$45.600</li>
                                    <li class="otroEstilo">10% off</li>
                                </ul>
                                <p id="descriptionOut">Samsung Galaxy S10</p>
                                </br>
                            </div>                         
                        </div>
                        </br>

                        <div class="productos">                                      
                            <img src="/img/img-tv-samsung-smart.jpg" class="mediana">
                            <br>
                            <div class="contenidoDesc">
                                <i class="fas fa-truck iconoCamion"></i>
                                <ul>
                                    <li>$390.600</li>
                                    <li class="otroEstilo">10% off</li>
                                </ul>
                                <p id="descriptionOut">Samsung Smart TV</p>
                                </br>
                            </div>                          
                        </div>
                    </div>
                </div>    
            </main>
        </main>       
       <footer>
           <div class="container">
               <div class="row">
                    <div class="columna">
                        <article>
                            <i class="fas fa-credit-card"></i>             
                            <h2>Pagá con tarjeta o efectivo</h2>
                            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                            </p>
                        </article>
                     </div>

                    <div class="columna">
                        <article class="moverArticulo2">
                            <i class="fas fa-gift"></i>                    
                            <h2>Envío gratis desde $ 2.500</h2>
                            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                            </p>
                        </article>
                    </div>

                    <div class="columna">
                        <article class="moverArticulo1">
                            <i class="fas fa-user-shield"></i>                    
                            <h2>Seguridad, de principio a fin</h2>
                            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>       
                        </article>
                    </div>
                </div>
            </div>

            <div class="pieFooter">
                <p class="estiloCopy"><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
            </div>
                
            
        </footer>
	   
    </body>

</html>
