<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css"/>
        <link rel = "preconnect" href = "https://fonts.gstatic.com">
        <link href = "https://fonts.googleapis.com/css2? family = Roboto & display = swap" rel = "hoja de estilo ">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://kit.fontawesome.com/6b8c6e67a4.js" crossorigin="anonymous"></script>
        <title>Mercado Liebre</title>

        <a href="login"></a>


    </head>

        <body>
            <header class="header-fijo">
                <div class="main-header-bar">
                     <img src="../img/logo-mercado-liebre.svg" class="logo"></img>        
                         <nav>
                            <div>
                                <form class="search-form">
                                    <input placeholder="Buscar productos, marcas" type="text" name="keywords" class="search">                            
                                    <button type="submit" class="fas fa-search" class="search-buttom"></button>
                                </form>
                            </div>
                         </nav>           
                             
                         <div>
                             <p class="textocentrado"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tárjetas de crédito</p>
                         </div>
                 </div>
                 <nav class="main-navbar">
                    <ul class="left-navbar">
                         <li><a href="#"></a>Ofertas</li>
                         <li><a href="#"></a>Tiendas Oficiales</li>
                         <li><a href="#"></a>Vender</li>
                         <li><a href="#"></a>Ayuda</li>                    
                     </ul>            
                     <ul class="right-navbar">
                         <li><a href="register.html"></a>Creá tú cuenta<i class="far fa-id-card"></i></li>
                         <li><a href="login.html"></a>Ingresá<i class="fas fa-sign-in-alt"></i></li>
                         <li><a href="#"></a>Mis compras<i class="fas fa-shopping-basket"></i></li>              
                     </ul>
                 </nav>
                 <a href="#" class="burguer">
                     <i class="fas fa-bars burguer2"></i>
                 </a>                                       
            </header>       
                <form action="" method="POST" class="create-login">
                    <div>
                        <label id="contraseña">Nombre de Usuario</label>
                        <input type="text" name="nombreUsario" class="login-input">
                    </div>
                        <br></br>
                    <div>
                        <label id="contraseña">Contraseña</label>
                        <input type="password" name="contraseña" class="login-input">
                    </div>
                        <br></br>
                    <button type="submit" class="boton-login">Enviar</button>
                    </div>            
                    </form>	 
            <footer>
                <div class="container">
                    <div class="footerLogin">
                        <p class="estiloCopy"><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
                    </div>
                </div>
            </footer>
        </body>

</html>
